.board {
    position: absolute;
    min-width: 120px;
    min-height: 120px;
}

.board-icon {
    margin: 12px;
    pointer-events: none;
}

.board-action-bar {
    width: 100%;
    min-width: 120px;
    height: fit-content;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.board-title {
    width: 90%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.board-content {
    background-color: gray;
    min-width: 120px;
    min-height: 70px;
}

.board-content-canvas {
    background-color: white;
    cursor: url('../icons/new_blank.png'), auto;
    overflow: auto;
}