.board {
    position: absolute;
}

.board-icon {
    margin: 12px;
    pointer-events: none;
}

.board-action-bar {
    width: 100%;
    height: fit-content;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.board-title {
    width: 90%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.board-content {
    background-color: white;
}